.even{
    color: green; 
}
.everyfourth{
    text-decoration: underline;
}
.afterimg{
    font-style: italic;
}
p {
    background-color: white; 
}
p:hover {
    background-color: yellow;
}
p::before {
    content: url('https://api.iconify.design/et-magnifying-glass.svg?height=10');
}
input {
    margin: 2px
}
input.text{
    background-color: grey;
}
input.password{
    background-color: black;
    color: white;
}
input.number{
    color: blue;
}